In [ ]:
#### 1. Write a program to find sum of all elements in a list of integers
lst = [5,6,7,5,2,1,5,4,3]
print(sum(lst))

38

In [ ]:
 ####  2. Input a sentence as a string.
###    a) Print its length
###    b) Print the first half of string
word = input('Enter a string : ')
print("its length is ",len(word))
first_half = word[:len(word) // 2]
print("The first half of the string is:", first_half)

Enter a string : HELLO WORLD
its length is  11
The first half of the string is: HELLO

In [ ]:
#### 3. Write a program to enter a tuple of integers as (78,45,32,19,82,77,40,39). Change the third value in the tuple to 100

tup = (78,45,32,19,82,77,40,39)
tup_lst = list(tup)
tup_lst[2] = 100
new_tup = tuple(tup_lst)
print("Modified tuple is ",new_tup)

Modified tuple is  (78, 45, 100, 19, 82, 77, 40, 39)

In [9]:
 ## 4.Consider a list listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
### (a) Delete the first occurrence of 32
### (b) Delete all occurrences of 40
### (c) Delete the value at index=5
### (d) Modify the value at index=9 as 300
### (e) Add 200 at index=2
### (f) Print the final list with its length, maximum value and sum of all elements



listA = [19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

listA.remove(32)
print("32 is removed from the list", listA)


listA = [x for x in listA if x != 40]

del listA[5]

while len(listA) <= 9:
    listA.append(0)
listA[9] = 300

listA.insert(2, 200)


print("Final list:", listA)
print("Length:", len(listA))
print("Maximum value:", max(listA))
print("Sum of elements:", sum(listA))

32 is removed from the list [19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
Final list: [19, 10, 200, 55, 31, 32, 29, 10, 65, 77, 300]
Length: 11
Maximum value: 300
Sum of elements: 828

In [13]:
### 5. Consider a string ”The day has been long”.
##(a) Delete the value at index =4
###(b) Print the string 4 times in a single line with space between each repetition
###(c) Print the string 3 times in a new line each time
###(d) Modify the string at index 7 as ’A’
###(e) Print the string from index 4 to 15
###(f) Print the final string with its length


string = "The day has been long"

string = string[:4] + string[5:]
print(string)

print((string + " ") * 4)


print((string + "\n") * 3)

string = string[:7] + "A" + string[8:]


print(string[4:16])


print("Final string:", string)
print("Length:", len(string))

The ay has been long
The ay has been long The ay has been long The ay has been long The ay has been long
The ay has been long
The ay has been long
The ay has been long

ay Aas been
Final string: The ay Aas been long
Length: 20